@model FilmoweJanusze.ViewModels.PeopleFormView

@{
    ViewBag.Title = "Edycja aktora " + ViewBag.Name;
}

<h2>Edycja aktora</h2>
<h4>@ViewBag.Name</h4>
<hr />

@using (Html.BeginForm(Html.BeginForm("Edit", "People", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("Form")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <button class="btn btn-default">
                    @Html.ActionLink("Powrót", "Details", new { id = ViewBag.PeopleID }, new { @class = "nodecoration" })
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(ToggleRadio())
    </script>
}
