@model FilmoweJanusze.Models.People
@using  FilmoweJanusze.Helpers

<div class="form-group">
    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Birthplace, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Birthplace, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Birthplace, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Biography, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Biography, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Proffesion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <ul>
            <li class="nodecoration">@Html.CheckBoxFor(model => model.Proffesion.Actor) @Html.LabelFor(model => model.Proffesion.Actor)</li>
            <li class="nodecoration">@Html.CheckBoxFor(model => model.Proffesion.Director) @Html.LabelFor(model => model.Proffesion.Director)</li>
            <li class="nodecoration">@Html.CheckBoxFor(model => model.Proffesion.Scenario) @Html.LabelFor(model => model.Proffesion.Scenario)</li>
        </ul>
        @Html.ValidationMessageFor(model => model.Proffesion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PhotoURL, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        @Html.Image(Model.PhotoURL)

        <label class="radio-inline" onchange="ToggleRadio()">@Html.RadioButton("RadioPhotoBtn", "FromFile") Z pliku</label>
        <label class="radio-inline" onchange="ToggleRadio()">@Html.RadioButton("RadioPhotoBtn", "FromURL") Ze ścieżki</label>
        <label class="radio-inline" onchange="ToggleRadio()">@Html.RadioButton("RadioPhotoBtn", "None") Brak</label>

        <div class="margintop10" id="file">
            Prześlj nowe zdjęcie: <input type="file" name="Image" />
        </div>
        <div class="margintop10" id="url">
            Podaj link do zdjęcia: <br />
            @Html.TextBox("UrlPath", null, new { @class = "form-control" })
        </div>
    </div>
</div>

