@{
    string slogan = " - Filmowe Janusze";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @slogan</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @if (PageData.ContainsKey("Gallery"))
    {
        @Styles.Render(PageData["Gallery"]);
    }
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FilmoweJanusze", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Filmy", "Index", "Movies", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ludzie kina", "Index", "People", null, new { @class = "nav-link" })</li>
                </ul>

                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="input-group">
                        <!--<input type="search" class="form-control" placeholder="Szukaj">-->
                        @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Szukaj", data_autocomplete_source = Url.Action("SearchAutoComplete") })
                        <div class="input-group-btn searchbutton">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                }

                @Html.Partial("_LoginPartial")
            </div>
            @if (!Request.IsAuthenticated)
            {
                <div style="position:absolute; width:inherit; min-width:320px;">
                    <!--LOGIN POPUP-->
                    <div class="form-popup" id="LogIn">
                        @if (ViewContext.RouteData.Values["action"].ToString() != "Login")
                        {
                            <div class="form-container">
                                <div class="modal-header">
                                    <button class="close" type="button" onclick="openLogIn()">&times;</button>
                                    <h4 class="modal-title">Logowanie</h4>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("_Login", new FilmoweJanusze.Models.LoginViewModel())
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @ViewBag.Message
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade in margintop20">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p><strong>Błąd!</strong> @ViewData["Error"].ToString()</p>
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in margintop20">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p><strong>Gratulacje!</strong> @TempData["Success"].ToString()</p>
            </div>
        }
        @if (!Request.IsAuthenticated)
        {
            if(ViewContext.RouteData.Values["action"].ToString() != "Register")
            { 
                <!-- REGISTER Modal -->
                <div id="Register" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Utwórz nowe konto</h4>
                            </div>
                            <div class="modal-body container-fluid">
                                <div class=" col-sm-8 col-sm-offset-2">
                                    @Html.Partial("_Register", new FilmoweJanusze.Models.RegisterViewModel())
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            }            
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year @slogan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
