@model FilmoweJanusze.Models.RegisterViewModel
@using reCAPTCHA.MVC

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="input-group margintop10">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        @Html.TextBoxFor(m => m.RegisterUserName, new { @class = "form-control", placeholder = "Nazwa użytkownika" })
    </div>
    <div class="input-group margintop10">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        @Html.TextBoxFor(m => m.RegisterEmail, new { @class = "form-control", placeholder = "Adres e-mail" })
    </div>
    <div class="input-group margintop10">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        @Html.PasswordFor(m => m.RegisterPassword, new { @class = "form-control", placeholder = "Hasło" })
    </div>
    <div class="input-group margintop10">
        <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Powtórz hasło" })
    </div>
    <div class="input-group">
        <span onclick="ShowPassword()"><input class="input" type="checkbox" id="showpass"> Pokaż hasło</span>
    </div>
    <div class="input-group margintop10">
        @Html.Recaptcha()
        @Html.ValidationMessage("ReCaptcha")
    </div>
    <div class="input-group  margintop10">
        <input type="submit" class="btn btn-success " value="Zarejestruj" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}