@model FilmoweJanusze.ViewModels.ProfileInfoesDetails


@{
    ViewBag.Title = "Profil użytkownika " + Model.ProfileInfo.User.UserName;

    int tilesPerRow = 4;
    string coll_ratedmovies_in = null;
    string coll_ratedpeoples_in = null;

    if (Model.RatedMovies.Count() > 0)
    {
        coll_ratedmovies_in = "in";
    }

    if (Model.RatedPeoples.Count() > 0)
    {
        coll_ratedpeoples_in = "in";
    }
}

<!--NAGŁÓWEK-->

@using (Html.BeginHeader("Profil użytkownika", Model.ProfileInfo.User.UserName))
{
    if (Model.ProfileInfo.User.Id == ViewBag.CurrentUserID)
    {
        @Helper.AutohorizeDropDownBtn(
        new[] {
           Html.ActionLink("Edytuj profil", "Edit", new { id = Model.ProfileInfo.UserID }),
           Html.ActionLink("Zarządzaj kontem", "Index", "Manage", null, null)
        })
    }
}
<!--INFORMACJE-->
<div class="marginbottom10">
    <div class="col-xs-2">
        <img class="img-circle img-thumbnail" src="@Model.ProfileInfo.PhotoURL" />
    </div>
    <div class="col-xs-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProfileInfo.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfileInfo.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProfileInfo.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfileInfo.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProfileInfo.Birthdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfileInfo.Birthdate)
            </dd>

        </dl>
    </div>
    <div class="clearfix"></div>
</div>

<!--OCENIONE FILMY-->
@using (Html.BeginPanel(Html.DisplayNameFor(model => model.RatedMovies).ToString(), "coll_ratedmovies", coll_ratedmovies_in))
{
    @Helper.TileCarousel(Html, Model.RatedMovies.Select(ur => ur.Movie), "RatedMoviesCarousel", "Nie oceniłeś jeszcze żadnego filmu :(", tilesPerRow)

    if (Model.RatedMovies.Count()>0)
    {
        @Html.ActionLink("Zobacz więcej", "Index", "ProfileInfoes", new { ID = "Movies" }, new { @class = "btn btn-default margin5", style = "float:right" })
    }
}


<!--OCENIONI AKTORZY-->
@using (Html.BeginPanel(Html.DisplayNameFor(model => model.RatedPeoples).ToString(), "coll_ratedpeoples", coll_ratedpeoples_in))
{
    @Helper.TileCarousel(Html, Model.RatedPeoples.Select(ur => ur.People), "RatedPeopleCarousel", "Nie oceniłeś jeszcze żadnych ludzi kina :(", tilesPerRow)
    if (Model.RatedPeoples.Count() > 0)
    {
        @Html.ActionLink("Zobacz więcej", "Index", "ProfileInfoes", new { ID = "People" }, new { @class = "btn btn-default margin5", style = "float:right" })
    }
}
