@model FilmoweJanusze.Models.ActorRole

@{
    string header = "";
    if (ViewBag.MovieID is int)
    {
        header = "członka obsady ";
    }
    else
    if (ViewBag.PeopleID is int)
    {
        header = "roli ";
    }
    ViewBag.Title = "Usuwanie " + header + ViewBag.Name;
}

<h3>Czy na pewno chcesz usunęcia @header?</h3>
<h4>@ViewBag.Name</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.MovieID)
        @if (ViewBag.MovieID is int)
        {
            <dt>
                @Html.DisplayNameFor(model => model.People.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.People.FullName)
            </dd>
        }
        @if (ViewBag.PeopleID is int)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Movie.TitleYear)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "ActorRoles", new { ismovie = (ViewBag.MovieID is int) ? true : false, ispeople = (ViewBag.PeopleID is int) ? true : false }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <button type="button" class="btn btn-default">
                @if (ViewBag.MovieID is int)
                {
                    @Html.ActionLink("Anuluj", "Details", "Movies", new { id = ViewBag.MovieID }, new { @class = "nodecoration" })
                }
                else
                if (ViewBag.PeopleID is int)
                {
                    @Html.ActionLink("Anuluj", "Details", "People", new { id = ViewBag.PeopleID }, new { @class = "nodecoration" })
                }
            </button>
        </div>
    }
</div>
