@model FilmoweJanusze.Models.Movie
@using FilmoweJanusze.Helpers

@{
    ViewBag.Title = "Usuwanie filmu " + Model.TitleYear;
}

<h3>Czy na pewno chcesz usunąć ten film?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitlePL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitlePL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>

        <dd>
            @Html.Image(Model.PhotoURL, new { @class = "poster img-responsive img-thumbnail" })
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <button class="btn btn-default">
                @Html.ActionLink("Powrót", "Details", new { id = Model.MovieID }, new { @class = "nodecoration" })
            </button>
        </div>
    }
</div>
