@model FilmoweJanusze.ViewModels.MovieFormView

@{
    ViewBag.Title = "Edycja filmu " + ViewBag.Name;
}

<h3>Edycja filmu</h3>
<h4>@ViewBag.Name</h4>
<hr />

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m=>m.RowVersion)

        @Html.Partial("_Form")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <button class="btn btn-default">
                    @Html.ActionLink("Powrót", "Details", new { id = ViewBag.MovieID }, new { @class = "nodecoration" })
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(ToggleRadio())
    </script>
}
