@model PagedList.IPagedList<FilmoweJanusze.Models.Movie>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Dostępne filmy";
}

<div class="panel-group nopadding realative">
    <div class="panel">
        <div class="well-jm">
            <div class="col-xs-10 col-sm-11 nopadding">
                <h3>
                    @ViewBag.Title
                </h3>
            </div>
            @if (User.IsInRole("User") || User.IsInRole("Admin"))
            {
                <div class="col-xs-2 col-sm-1">
                    <button type="button" class="btn btn-default dropdown-toggle dropdownbutton margintop10" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Dodaj film", "Create")</li>
                    </ul>
                </div>
            }
            <div class="clearfix"></div>
        </div>

        <!-- FILTRACJA I SORTOWANIE-->

        @using(Ajax.BeginForm("Index", "Movies",new { page = 1 }, new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "movielist"
        }, new { @class = "form-inline" }))
        //using (Html.BeginForm("Index", "Movies", FormMethod.Get, htmlAttributes: new { page = 1, @class = "form-inline" }))
        {
            <div class="panel-body sortfilter form-inline">
                <div class="form-group">
                    <label>
                        Filtruj według:
                    </label>
                    <label>
                        Gatunku
                    </label>
                    @Html.DropDownList("Genre", null, "Wszystkie", new { @class = "form-control" })
                    <label>
                        Kraju produkcji
                    </label>
                    @Html.DropDownList("CountryProduction", null, "Wszystkie", new { @class = "form-control" })
                    <label>
                        Roku produkcji
                    </label>
                    @Html.DropDownList("Years", null, "Wszystkie", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Sortuj według:</label>
                    @Html.DropDownList("SortParam", null, new { @class = "form-control" })
                    @Html.DropDownList("SortOrder", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ilość wyników na stronie</label>
                    @Html.DropDownList("PageSize", null, new { @class = "form-control" })
                </div>
                <input type="submit" value="Wykonaj" class="btn btn-primary" />
            </div>
        }

    </div>
</div>

<!--FILMY-->
<div id="movielist">
    @Html.Partial("_TileList")
</div>


