@model ICollection<FilmoweJanusze.Models.Photo>

@{
    ViewBag.Title = "Galeria zdjęć " + ViewBag.Name;
    PageData["Gallery"] = "~/Content/Gallery.css";

    int photoindex = 1;
}

<!--NAGŁÓWEK-->
<div class="page-header well-jm">
    <div class="col-xs-11">
        <h3>Galeria zdjęć</h3>
        @if (ViewBag.MovieID != null)
        {
            <a href=@Url.Action("Details","Movies",new { id = ViewBag.MovieID }) class="nodecoration"><h4>@ViewBag.Name</h4></a>
        }
        @if (ViewBag.PeopleID != null)
        {
            <a href=@Url.Action("Details","People",new { id = ViewBag.PeopleID }) class="nodecoration"><h4>@ViewBag.Name</h4></a>
        }
    </div>

    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <div class="dropdown col-xs-1 dropdownbutton">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Edytuj", "Edit", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false })</li>
                <li>@Html.ActionLink("Usuń", "Delete", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false })</li>
            </ul>
        </div>
    }
    <div class="clearfix"></div>
</div>

<!--GALERIA - KARUZELA-->
<div id="GaleryCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);
            <!--ZDJĘCIA-->
            <div class="mySlides item" id="@photo.PhotoID">
                <div class="numbertext"> @(i + 1)/@Model.Count</div>
                <img src="@photo.PhotoURL" class="img-responsive center">
            </div>

            if (photo.PhotoID == ViewBag.PhotoID)
            {
                photoindex = i + 1;
            }
        }
        <!-- Left and right controls -->
        <a class=" left carousel-control" href="#GaleryCarousel" data-slide="prev" onclick="plusSlides(-1)">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class=" right carousel-control" href="#GaleryCarousel" data-slide="next" onclick="plusSlides(1)">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!--MINIATURKI - druga karuzela-->
    <div class="row nomargin">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);

            <div class="column">
                <img class="demo cursor img-responsive" data-target="#GaleryCarousel" data-slide-to=@i src="@photo.PhotoThumbURL" onclick="currentSlide(@(i+1))" alt="@photo.Description">
            </div>
        }
    </div>


</div>

<!--POWRÓT-->
<div class="margintop20">
    <button class="btn btn-default">
        @if (ViewBag.MovieID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { movieID = ViewBag.MovieID }, new { @class = "nodecoration" })
        }
        else if (ViewBag.PeopleID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { peopleID = ViewBag.PeopleID }, new { @class = "nodecoration" })
        }
    </button>
</div>

@section scripts {

    <script>
    var slideIndex = @photoindex;

    currentSlide(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].className = slides[i].className.replace(" active", "")
        }
        slides[slideIndex - 1].className += " active";
    }

    function showSlides(n) {
        var i;

        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;

        //var currentid = slides[slideIndex - 1].getAttribute("id");
    }
    </script>

}