@model ICollection<FilmoweJanusze.Models.Photo>

@{
    ViewBag.Title = "Galeria zdjęć " + ViewBag.Name;
    PageData["Gallery"] = "~/Content/Gallery.css";

    int photoindex = 1;
}

<!--NAGŁÓWEK-->
<div class="page-header well-jm realative">
    <div class="col-xs-10 col-sm-11 nopadding">
        <h3>Galeria zdjęć</h3>
        @if (ViewBag.MovieID != null)
        {
            <a href=@Url.Action("Details","Movies",new { id = ViewBag.MovieID }) class="nodecoration"><h4>@ViewBag.Name</h4></a>
        }
        @if (ViewBag.PeopleID != null)
        {
            <a href=@Url.Action("Details","People",new { id = ViewBag.PeopleID }) class="nodecoration"><h4>@ViewBag.Name</h4></a>
        }
    </div>

    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <div class="col-xs-2 col-sm-1">
            <button type="button" class="btn btn-default dropdown-toggle dropdownbutton margintop20" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Edytuj", "Edit", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false },new { id="Edit", name = ViewBag.PhotoID })</li>
                <li>@Html.ActionLink("Usuń", "Delete", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false }, new { id="Delete", name = ViewBag.PhotoID })</li>
            </ul>
        </div>
    }
    <div class="clearfix"></div>
</div>

<!--GALERIA - KARUZELA-->
<div id="GaleryCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <div class="carousel-inner">
        <!--ZDJĘCIA-->
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);
            var caruselclass = "mySlides item";
            if (photo.PhotoID == ViewBag.PhotoID)
            {
                photoindex = i + 1;
                caruselclass += " active";
            }

            <div class="@caruselclass" id="@photo.PhotoID">
                <div class="numbertext"> @(i + 1)/@Model.Count</div>
                <img src="@photo.PhotoURL" class="img-responsive center">
            </div>
        }
        <!-- Left and right controls -->
        <a class=" left carousel-control" href="#GaleryCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class=" right carousel-control" href="#GaleryCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="caption-container margintop10">
        <p id="caption"></p>
    </div>

    <!--MINIATURKI-->
    <div class="row nomargin carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);
            var caruselclass = "demo cursor img-responsive column";
            if (photo.PhotoID == ViewBag.PhotoID)
            {
                caruselclass += " active";
            }
            <img class="@caruselclass" data-target="#GaleryCarousel" data-slide-to=@i src="@photo.PhotoThumbURL" alt="@photo.Description">
        }
    </div>


</div>

<!--POWRÓT-->
<div class="margintop20">
    <button class="btn btn-default">
        @if (ViewBag.MovieID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { movieID = ViewBag.MovieID }, new { @class = "nodecoration" })
        }
        else if (ViewBag.PeopleID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { peopleID = ViewBag.PeopleID }, new { @class = "nodecoration" })
        }
    </button>
</div>

@section scripts {

    <script>
        $(document).ready(SetCaption());

        $("#GaleryCarousel").on('slid.bs.carousel', function () {
            ChangeButtonLink("Edit");
            ChangeButtonLink("Delete");
            SetCaption()
        })

        function ChangeButtonLink(id) {
            var button = document.getElementById(id);

            if (button != null) {
                var activeslide = document.getElementsByClassName("mySlides item active");
                button.href = button.href.replace(button.name, activeslide[0].id);
                button.name = activeslide[0].id;
            }
        }

        function SetCaption() {
            var dots = document.getElementsByClassName("demo cursor img-responsive column active");
            var captionText = document.getElementById("caption");
            captionText.innerHTML = dots[0].alt;
        }
    </script>

}