@model ICollection<FilmoweJanusze.Models.Photo>


@{
    ViewBag.Title = "Galeria zdjęć " + ViewBag.Name;
    PageData["Gallery"] = "~/Content/Gallery.css";

    int photoindex = 1;
    string SubTitle = ViewBag.Name;

    int id = 0;
    string controller = String.Empty;
    if (ViewBag.MovieID != null)
    {
        id = ViewBag.MovieID; ;
        controller = "Movies";
    }
    else if (ViewBag.PeopleID != null)
    {
        id = ViewBag.PeopleID; ;
        controller = "People";
    }

    MvcHtmlString SubTitleActionLink = Html.ActionLink(SubTitle, "Details", controller, new { id = id }, new { @class="nodecoration" });
}

<!--NAGŁÓWEK-->
@using (Html.BeginHeader("Galeria zdjęć", SubTitleActionLink.ToString()))
{
    @Helper.AutohorizeDropDownBtn(
    new[] {
        Html.ActionLink("Edytuj", "Edit", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false }, new { id = "Edit", name = ViewBag.PhotoID }),
        Html.ActionLink("Usuń", "Delete", new { id = ViewBag.PhotoID, ismovie = (ViewBag.MovieID > 0) ? true : false, ispeople = (ViewBag.PeopleID > 0) ? true : false }, new { id = "Delete", name = ViewBag.PhotoID })
    }, "dropdown-toggle margintop20")
}


<!--GALERIA - KARUZELA-->
<div id="GaleryCarousel" class="carousel slide minwidth270" data-ride="carousel" data-interval="0">
    <div class="carousel-inner">
        <!--ZDJĘCIA-->
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);
            var caruselclass = "mySlides item";
            if (photo.PhotoID == ViewBag.PhotoID)
            {
                photoindex = i + 1;
                caruselclass += " active";
            }

            <div class="@caruselclass" id="@photo.PhotoID">
                <div class="numbertext"> @(i + 1)/@Model.Count</div>
                @Html.Image(photo.PhotoURL, new { @class = "img-responsive center" })
            </div>
        }

        @if (Model.Count() > 1)
        {
            <!-- Left and right controls -->
            <a class=" left carousel-control" href="#GaleryCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class=" right carousel-control" href="#GaleryCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        }
    </div>

    <div class="caption-container margintop10">
        <p id="caption"></p>
    </div>

    <!--MINIATURKI-->
    <div class="container-fluid nomargin carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var photo = Model.ElementAt(i);
            var caruselclass = "col-xs-2 nopadding";
            var photoclass = "";
            if (photo.PhotoID == ViewBag.PhotoID)
            {
                caruselclass += " active";
                photoclass += " actived";
            }
            <div class="@caruselclass">
                <img class="gallerythumb demo cursor img-responsive @photoclass" data-target="#GaleryCarousel" data-slide-to=@i src="@photo.PhotoURL" alt="@photo.Description">
            </div>
        }
    </div>

</div>

<!--POWRÓT-->
<div class="margintop20">
    <button class="btn btn-default">
        @if (ViewBag.MovieID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { movieID = ViewBag.MovieID }, new { @class = "nodecoration" })
        }
        else if (ViewBag.PeopleID != null)
        {
            @Html.ActionLink("Powrót", "Index", "Photo", new { peopleID = ViewBag.PeopleID }, new { @class = "nodecoration" })
        }
    </button>
</div>

@section scripts {

    <script>
        $(document).ready(SetCaption());

        $("#GaleryCarousel").on('slid.bs.carousel', function () {
            ChangeButtonLink("Edit");
            ChangeButtonLink("Delete");
            SetCaption()
        })

        function ChangeButtonLink(id) {
            var button = document.getElementById(id);

            if (button != null) {
                var activeslide = document.getElementsByClassName("mySlides item active");
                button.href = button.href.replace(button.name, activeslide[0].id);
                button.name = activeslide[0].id;
            }
        }

        function SetCaption() {
            var oldimage = document.getElementsByClassName("gallerythumb demo cursor img-responsive actived")[0];
            oldimage.className = oldimage.className.replace(" actived", "")
            var newimage = document.getElementsByClassName("col-xs-2 nopadding active")[0].getElementsByTagName('img')[0];
            newimage.className += " actived"

            var captionText = document.getElementById("caption");
            captionText.innerHTML = newimage.alt;
        }
    </script>

}