@model ICollection<FilmoweJanusze.Models.Photo>
@using FilmoweJanusze.Helpers

@{
    ViewBag.Title = "Galeria zdjęć " + ViewBag.Name;

    int id = 0;
    string SubTitle = ViewBag.Name;
    string controller = String.Empty;
    string movieID = String.Empty;
    string peopleID = String.Empty;

    if (ViewBag.MovieID != null)
    {
        id = ViewBag.MovieID; ;
        controller = "Movies";
        movieID = id.ToString();
    }
    else if (ViewBag.PeopleID != null)
    {
        id = ViewBag.PeopleID; ;
        controller = "People";
        peopleID = id.ToString();
    }

    MvcHtmlString SubTitleActionLink = Html.ActionLink(SubTitle, "Details", controller, new { id = id }, new { @class = "nodecoration" });
    MvcHtmlString LiActionLink = Html.ActionLink("Dodaj nowe zdjęcie", "Create", new { movieID, peopleID});
}

@using (Html.BeginHeader("Galeria zdjęć", SubTitleActionLink.ToString()))
{
    @Helper.AutohorizeDropDownBtn( new[] { LiActionLink }, "dropdown-toggle margintop20")
}

@if (Model.Count() > 0)
{
    <div class="minwidth270">
        @foreach (var photo in Model)
        {
        <div class="col-xs-4 col-md-2 nopadding">
            @Html.Image(photo.PhotoURL, @Url.Action("Details", "Photo", new { movieID = ViewBag.MovieID, peopleID = ViewBag.PeopleID, photoID = photo.PhotoID }), new { @class = "gallerythumb img-thumbnail", data_toggle = "tooltip", title = photo.Description })
        </div>
        }
    </div>
    <div class="clearfix"></div>
}
else
{
    <h5>Brak zdjęć :(</h5>
}

<!--POWRÓT-->
<div class="margintop20">
    <button class="btn btn-default">
        @if (ViewBag.MovieID != null)
        {
            @Html.ActionLink("Powrót", "Details", "Movies", new { id = ViewBag.MovieID }, new { @class = "nodecoration" })
        }
        else if (ViewBag.PeopleID != null)
        {
            @Html.ActionLink("Powrót", "Details", "People", new { id = ViewBag.PeopleID }, new { @class = "nodecoration" })
        }
    </button>
</div>